#root {
  width: 100%;
}

.home {
  height: calc(100% - 75px);
}

ul,
li {
  padding-left: 0;
  list-style: none;
}

.layout {
  max-width: 64.063rem;
  width: 100%;
  max-width: clamp(64.063rem, calc(59.522rem + 35.105vw), 97.5rem);
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-weight: 600;
  font-style: italic;
}

.display-none{
  display: none;
}

.main {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-light-blue;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $color-primary--black;
  text-decoration: none;
}
a:hover {
  color: $color-secondary--blue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $color-primary--black;
    background-color: $color-white;
  }
  a:hover {
    color: $color-gray;
  }
  button,
  input[type="file"]::file-selector-button {
    background-color: $color-primary--blue;
    color: $color-light-gray;
  }
}
