.application {
  padding: 1.5rem;
}

.application__wrapper {
  @extend .layout;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.application__item {
  @extend .card__layout;
}

.application__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-white;
}
