.categories {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;

  @include max-breakpoint($breakpoint-medium){
    height: fit-content;
    margin: 2rem 1rem;
  }
}
.categories__wrapper {
  @extend .layout;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  text-align: center;

  @include max-breakpoint($breakpoint-medium){
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.category__item {
  @extend .card__layout;

  max-width: unset !important;
  width: unset !important;
  padding: 1.5rem;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    box-shadow: 0.3125rem 0.625rem 1.125rem #444;
  }
}
