.header__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  @include max-breakpoint($breakpoint-large) {
    gap: 1rem;
  }
}

header{
  background-color: $color-tetriary--blue;
}