.user {
  padding: 1.5rem 0;
}

.user__wrapper {
  @extend .layout;
  @extend .card__layout;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
}

.user__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  width: 80%;

  p {
    font-weight: 700;
    padding: 0 1.5rem;
    span {
      font-weight: 400;
    }
  }

  .user__picture {
    align-self: center;
    max-width: 50%;
    width: auto;
    height: 15.625rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profile__link {
  font-weight: 700;
}
