.search {
  padding-right: 1rem;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  flex-direction: row-reverse;
  background-color: $color-white;
}

.search__box i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
