.service {
  padding: 1.5rem 0;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.service__content {
  @extend .card__layout;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    box-shadow: 0.3125rem 0.625rem 1.125rem #444;
  }
}

.service__content.is-details {
  cursor: default;

  &:hover {
    box-shadow: 0.3125rem 0.625rem 1.125rem #888;
  }

  .service__picture{
    align-self: center;
    width: auto;
    height: 18.75rem;
    object-fit: cover;
    border-radius: .625rem;
  }
}
