.survey {
  padding: 1.5rem;
}

.survey__wrapper {
  @extend .layout;
  @extend .card__layout;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
}

.survey__content {
  padding: 0 0.625rem;
  
  display: flex;
  flex-direction: column;

  button{
    align-self: center;
  }
}
