$color-primary--blue: #357ded;
$color-primary--black: #272635;
$color-secondary--blue: #b1e5f2;
$color-tetriary--blue: #d4e0eb;
$color-light-blue: #e1e9f1;
$color-gray: #627c85;
$color--secondary--gray: #c3c3c3;
$color-light-gray: #f9f9f9;
$color-white: #ffffff;
