#root {
  max-width: 64.063rem;
  width: 100%;
  max-width: clamp(64.063rem, calc(59.522rem + 35.105vw), 97.5rem);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home {
  height: calc(100% - 75px);
}

.header__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav,
.nav__links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-form,
.register-form,
.service-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form__wrapper,
.register-form__wrapper,
.service-form__wrapper {
  max-width: 37.5rem;
  width: 100%;
}

.login-form__wrapper form,
.register-form__wrapper form,
.service-form__wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem;
}

.login-form__wrapper input,
.register-form__wrapper input,
.service-form__wrapper input {
  width: 100%;
}

.register-form__radio-buttons,
.service-form__radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.register-form__radio-buttons input,
.service-form__radio-buttons input {
  width: auto;
}

.categories {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories__wrapper {
  max-width: 64.063rem;
  width: 100%;
  max-width: clamp(64.063rem, calc(59.522rem + 35.105vw), 97.5rem);
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.category__item {
  padding: 0 1.5rem;
  cursor: pointer;
}
