.login-form__wrapper input,
.register-form__wrapper input,
.service-form__wrapper input,
.occupation,
.search__box {
  width: 100%;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid $color--secondary--gray;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem $color--secondary--gray;

  &:hover {
    box-shadow: 0.3125rem 0.3125rem 0.3125rem $color--secondary--gray;
  }
}

.register-form__radio-buttons input,
.service-form__radio-buttons input {
  width: auto;
}

.occupation {
  width: 60%;
  background: transparent;
}

.search__box {
  input {
    width: auto;
    height: 1.6875rem;
    border: none;

    &:focus,
    &:focus-visible {
      outline: transparent;
      border-bottom: 0.0625rem solid $color--secondary--gray;
    }
  }
}
